{
	auto_https off
}

:{$PORT} {
	handle /api/* {
		reverse_proxy localhost:8000
	}

	handle /ws {
		reverse_proxy localhost:8000
	}

	handle /ws/connect4 {
		reverse_proxy localhost:8000
	}

	handle /ws/ludo {
		reverse_proxy localhost:8000
	}

	handle /ws/court-piece {
		reverse_proxy localhost:8000
	}

	handle /static/* {
		root * /app/frontend
		header Cache-Control "no-cache"
		file_server
	}

	redir / /games.html

	handle {
		root * /app/frontend/pages
		file_server
	}
}
